
body {
    background-image: url('../../images/homepage/cropped-1920-1080-327013.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    display:flex !important;
    position: absolute;
    width: 100%;
}
.modal-body input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Style the submit button */
    .modal-body input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

/* Style the container for inputs */
.modal-body {
    background-color: #f1f1f1;
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
.modal-body #PassWordMessage {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

    .modal-body #PassWordMessage p {
        padding: 0px 20px;
        font-size: 18px;
    }

/* Add a green text color and a checkmark when the requirements are right */
.modal-body .valid {
        color: green;
    }

    .modal-body .valid:before {
        position: relative;
        left: -35px;
        content: "\2713";
    }

/* Add a red text color and an "x" when the requirements are wrong */
.modal-body .invalid {
    color: red;
}

    .modal-body .invalid:before {
        position: relative;
        left: -35px;
        content: "\2718";
    }

.modal-dialog .col-md-3 {
    display: flex;
    /*padding-right: 100px;
    padding-left:10px;
    margin-right: 40px;*/
    padding:0 60px 0 45px;
    margin:0 20px 0 20px;
}
    .modal-dialog .col-md-3 label {
        padding-top: 10px;
        padding-left: 10px;
        
    }
    .modal-dialog .col-md-3 input[type="radio"] {
        transform: scale(1.5);
    }
