body {
}
#showPass {
    background-image: url("/Content/icon/close-eye.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 18px;
    transition: 0.4s;
}

    #showPass:hover {
        background-image: url("/Content/icon/eye.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 18px;
    }
