

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div stype="text-align:center;background-color:orange;font-size:45px" ;>
        <b>SmartCanteen</b>
    </div>
    <div>
        <pre>
            Chào bạn,
                Chúng tôi cần phải xác thực email của bạn trước khi bạn hoàn tất quá trình đăng ký!
                nhấn vào <a href="@ViewBag.ConfirmationLink">Đây</a>
        </pre>
    </div>
</body>
</html>

